<div class="wordform"

            <h1>These are the definations</h1>
<ul>
  <% @word.definations().each() do |defination| %>
  <li><a href="/definations/<%= defination.id() %>"><%= defination.defination() %></a></li>
  <% end %>
</ul>

<a href="/words/<%= @word.id%>/definations/new">Add a new defination</a>
<a href="/">Return to Main Page</a>
</div>
