  <div class="wordform">
 <h1 style=" color:white;"> Add a word to your Dictionary</h1>

 <form  style=" color:white;" action="/words" method="post">
 <label for="word">word:</label>
 <input style=" color:black;"id="word" name="word" type="text">
<button  class="btn btn-success" type="submit">Add Word</button>
 </form>
  </div>
