  <div class="wordform"
 <h1> Add a word to your Dictionary</h1>

 <form action="/words" method="post">
 <label for="word">word:</label>
 <input id="word" name="word" type="text">
<button  class="btn btn-success" type="submit">Add Word</button>
 </form>
  </div>
