  <div class="wordform"

<h1>Add a defination to <%= @word.word() %></h1>
<form action="/definations" method="post">
  <input id='word_id' name='word_id' type='hidden' value='<%= @word.id() %>'>

  <label for='defination'>defination:</label>
  <input id='defination' name='defination' type='text'>


  <button class="btn btn-success" type="submit">Add Defination</button>
</form>
</div>
